.claus-but {
    border: solid ;
    margin: auto;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    text-align: center;
    font-size: 0.75rem !important;
    transition: all 0.25s;
}

.review-but{
  
    transition: all 0.25s;
}

.review-but:hover{
    cursor: pointer;
    box-shadow: inset;
    border-color:rgb(29, 95, 203,0.5);
    background-color: rgba(56, 42, 181, 0.333);
}
.claus-but:hover{
    cursor: pointer;
    box-shadow: inset;
    border-color:rgb(29, 95, 203);
}

.rev-active{
    border-color:rgb(29, 95, 203);
    background-color: rgba(56, 42, 181, 0.333);
    transition: all 0.25s;
}

.rev-active:hover{
    border-color: rgb(210, 18, 18);
    background-color: rgba(226, 21, 21, 0.332);
}
.active{
    border-color:rgb(29, 95, 203);
    background-color: rgba(56, 42, 181, 0.333);
}

p {
    margin: 0 !important;
}

.scroll {
    overflow-y: auto;
    height: 450px;
}

.grey-but {
    transition: all 0.25s;
}

.grey-but:hover {
    background-color: rgb(208, 206, 206);
}

select {
    width: 30rem !important
}

main {
    background-color: rgb(255, 255, 255);
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
body {
    background-color: rgb(221 222 231);
}
