.claus-but {
    border: solid ;
    margin: auto;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    text-align: center;
    font-size: 0.75rem !important;
    transition: all 0.25s;
}

.review-but{
  
    transition: all 0.25s;
}

.review-but:hover{
    cursor: pointer;
    box-shadow: inset;
    border-color:rgb(29, 95, 203,0.5);
    background-color: rgba(56, 42, 181, 0.333);
}
.claus-but:hover{
    cursor: pointer;
    box-shadow: inset;
    border-color:rgb(29, 95, 203,0.5);
    background-color: rgba(56, 42, 181, 0.333);
}

.rev-active{
    border-color:rgb(29, 95, 203);
    background-color: rgba(56, 42, 181, 0.333);
    transition: all 0.25s;
}

.rev-active:hover{
    border-color: rgb(210, 18, 18);
    background-color: rgba(226, 21, 21, 0.332);
}
.active{
    border-color:rgb(29, 95, 203);
    background-color: rgba(56, 42, 181, 0.333);
}

p {
    margin: 0 !important;
}

.scroll {
    overflow-y: auto;
    height: 500px;
}